/*background stying*/
*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  background-color: #080808;
  margin: 0 auto;
  width: 375px;
  color: #BDBDBD;
}

h1 {
  padding-bottom: 1%;
  font-family: SF Pro Display, sans-serif, arial;
  text-align: center;
  padding-top: 15px;
  font-size: 34px;
  background-color: #080808;
  margin: 0 auto;
  color: #FF9500;
}

.left-arrow {
  margin: 0 auto;
  display: block;
  float: left;
  padding-left: 5%;
  padding-top: 21px;
}
.search {
  text-align: center;
  margin: 0 auto;
  width: 375px;
  background-color: #080808;
}

.status-bar {
  margin: 0 auto;
  background-color: #080808;
}

.title {
  height: 64px;

}

.title img {
  float: left;
  padding-left: 16px;
  padding-top: 12px;
}

.title h2 {
   font-family: SF Pro Display, sans-serif, arial;
   font-size: 26px;
   float: left;
   color: #11BDFF;
   padding-left: 25px;
   padding-top: 20px;
   font-size: 30px;

 }

.route .bus-number {
    font-family: SF Pro Display, sans-serif, arial;
    font-size: 16px;
    width: 22%;
    float: left;
    padding-top: 9px;

   }

.route .direction {
  font-family: SF Pro Display, sans-serif, arial;
  width: 52%;
  float: left;
}

.direction h3, h4 {
  padding-left: 12px;
}

.route .frequency {
  font-family: SF Pro Display, sans-serif, arial;
  width: 26%;
  float: left;
  padding-top: 9px;
}

.bus-number img {
  float: left;
  padding-right: 12px;
  padding-left: 12px;

}

.bus-number h3 {
  padding-left: 12px;
}


ul .direction {
  padding: 7px;
}

.more-options {
  height: 46px;
  margin: 0 auto;
  background-color: #FF9500;
  width: 375px;
}

.more-options img {
  padding-left: 173px;
  padding-top: 20px;

}

ul {
  border-top: 10px solid black;
  background: rgba(88,88,88,.15);
}

.route:after {
  content: "";
  display: table;
  clear: both;
}
