/*background stying*/
*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  background-color: #d2d2d2;
  margin: 0 auto;
  width: 375px;
}

h1 {
  padding-bottom: 1%;
  font-family: SF Pro Display;
  text-align: center;
  margin-bottom: 2%;
  font-size: 34px;
  background-color: #d2d2d2;
  margin: 0 auto;
  width: 375px;
  margin-top: -4%;
}

.left-arrow {
  background-color: #d2d2d2;
  margin: 0 auto;
  width: 375px;
  padding-left: 5%;
}
.search {
  text-align: center;
  background-color: #d2d2d2;
  margin: 0 auto;
  width: 375px;
}
 .status-bar {
   background-color: #d2d2d2;
   margin: 0 auto;
   width: 375px;
 }

 .title {
   display: inline-blcok;
   font-family: SF Pro Display;
   font-size: 12px;
   margin-left: 2%;
   margin-top: 3%;
   display: inline-block;
 }

.title li .destination {
 }
